@import "lib/elements.less";

header {
   padding-top: 20px;
   padding-bottom: 0px;

   h1 {
      margin-bottom: 0px;
   }
}

.container {
   width: 1200px;
}

.intro-box {
   .hero-box('/static/images/jenna.jpg');
}

.intro-box * {
   color: white;
}

.login-box {
   padding: 10px;
}

.content-container {
   border-left: 1px solid #ddd;
   padding-left: 20px;
}

.nav-container {
   width: 150px;
   float: left;

   .search-form {
      .text-input {
         width: 120px;
      }

      .search-button {
         width: 25px; 
      }
   }
}

