@import "lib/elements.less";

header {
   padding-top: 20px;
   padding-bottom: 0px;
}

.container {
   width: 1200px;
}

.intro-box {
   .hero-box('/static/images/jenna.jpg');
}

.intro-box * {
   color: white;
}

.login-box {
   padding: 10px;
}

#content {
   border-left: 1px solid #ddd;
   padding-left: 20px;
}

header h1 {
   margin-bottom: 0px;
}

