[submodule "static/font-awesome"]
	path = assets/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "assets/bootstrap"]
	path = assets/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "jquery"]
	path = assets/jquery
	url = https://github.com/jquery/jquery
[submodule "assets/lodash"]
	path = assets/lodash
	url = https://github.com/lodash/lodash
