[submodule "static/font-awesome"]
	path = static/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "static/minimal-css"]
	path = static/minimal-css
	url = https://github.com/billyshall/minimalcss
[submodule "indent-tools"]
	path = indent-tools
	url = https://github.com/lainproliant/indent-tools
